{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo.png' %}">
  <title>Stocked - Gestión de Inventario</title>
  <link href="{% static 'vendor/css/styles.min.css' %}" rel="stylesheet">
  <link href="{% static 'app.css' %}" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
      style="background:url({% static 'auth-bg.jpg' %}) no-repeat center center;">
      <div class="auth-box row">
        <div class="col-lg-7 modal-bg-img" style="background-image: url({% static 'auth-image.jpg' %});">
        </div>
        <div class="col-lg-5 bg-white">
          <div class="p-3">
            <div class="text-center">
              <img src="{% static 'auth-decoration.png' %}" alt="wrapkit">
            </div>
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
  <script>
    $(".preloader").fadeOut();
  </script>
</body>

</html>
