{% extends 'base.html' %}

{% block title %}Lista de Productos{% endblock title %}

{% block rightbar %}
  <a href="#" class="btn btn-success">
    Registrar producto
  </a>
{% endblock rightbar %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Categoría</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.description }}</td>
            <td>
              <a class="btn btn-sm btn-warning" href="#">
                Editar
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="text-center" colspan="5">No existen registros.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
