<aside class="left-sidebar border-end" data-sidebarbg="skin6">
  <div class="scroll-sidebar" data-sidebarbg="skin6">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="nav-small-cap"><span class="hide-menu">Gestión</span></li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'index' %}" aria-expanded="false">
            <i data-feather="clipboard" class="feather-icon"></i>
            <span class="hide-menu pt-1">Inventario</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i data-feather="list" class="feather-icon"></i>
            <span class="hide-menu pt-1">Movimientos</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level base-level-line">
            <li class="sidebar-item">
              <a href="{% url 'movements' %}" class="sidebar-link">
                <span class="hide-menu">
                  Lista de Movimientos
                </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'movements.create' %}" class="sidebar-link">
                <span class="hide-menu">
                  Registrar Movimiento
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="list-divider"></li>
        <li class="nav-small-cap"><span class="hide-menu">Registros</span></li>
        
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i data-feather="box" class="feather-icon"></i>
            <span class="hide-menu pt-1">Productos</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level base-level-line">
            <li class="sidebar-item">
              <a href="{% url 'products' %}" class="sidebar-link">
                <span class="hide-menu">
                  Lista de Productos
                </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'products.create' %}" class="sidebar-link">
                <span class="hide-menu">
                  Registrar Producto
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i data-feather="truck" class="feather-icon"></i>
            <span class="hide-menu pt-1">Proveedores</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level base-level-line">
            <li class="sidebar-item">
              <a href="{% url 'suppliers' %}" class="sidebar-link">
                <span class="hide-menu">
                  Lista de Proveedores
                </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'suppliers.create' %}" class="sidebar-link">
                <span class="hide-menu">
                  Registrar Proveedor
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i data-feather="layers" class="feather-icon"></i>
            <span class="hide-menu pt-1">Categorías</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level base-level-line">
            <li class="sidebar-item">
              <a href="{% url 'categories' %}" class="sidebar-link">
                <span class="hide-menu">
                  Lista de Categorías
                </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'categories.create' %}" class="sidebar-link">
                <span class="hide-menu">
                  Registrar Categoría
                </span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
